
html {
	background-color: #EEEAD3;
}	
.rounded {
	/*width: 230px;*/
	/*margin-left: 30%;*/
	/*float: left;*/
	/*padding-left: 37%;*/
	text-align: center;
}

p {
	text-align: center;
	
	}


