html {
	background-color: #EEEAD3;
}

.header {
  overflow: hidden;
  padding: 40px ;
  background-color: black;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  line-height: 20px;
  font-family: 'Rosarivo', serif;

}

/* Style the logo link (notic
e that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 35px;
  
}

/* Float the link section to the right */
.header-right {
  float: right;
}

.header a:hover{
	color: #DACE83;

}

h1 {
	margin: 50px auto;
	text-align: center;
	font-size: 40px;

	max-width: 94%;
	position: relative;
}

h1:before{
	content: "";
	display: block;
	width: 34%;
	height: 2px;
	background: #000;
	position: absolute;
	left: 0;
	/*margin-left: 2.9%;*/
	/*margin-right: 30%;*/
	top: 50%;
	
}

h1:after{
	content: "";
	display: block;
	width: 34%;
	height: 2px;
	background: #000;
	position: absolute;
	right: 0;
	top: 50%;
	/*margin-right: 2.9%;*/
	
}

u{
	text-decoration: underline;
	padding: 0.3em;
	border-bottom: 1px solid;
	color: #F7EFBD;
	font-family: 'Rosarivo', serif;
}


.header u {
  float: left;
  color: #F7EFBD;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 25px;
  line-height: 20px;

}

.header u:hover{
	color: #DACE83;
}

h1 {
	text-transform: uppercase;
}

h2 {
	font-family: 'Rosarivo', serif;
	margin-left: 40px;
	border-bottom: 2px solid;
	padding: 14px;
	max-width: 200px;
}


.navbar{
	max-width: 200px;
}

ul {

	list-style: none;
	margin: 0;
	font-family: 'Rosarivo', serif;
	max-width: 150px;
}

ul li {
	padding: 15px;
	margin: auto;
	position: relative;
	width: 20px
	background-color:#DACE83;
	font-size: 20px;
	max-width: 140px;
}

ul li:hover {
	font-family: 'Rosarivo', serif;
	font-weight: bold;
	/*background-color:#DACE83;*/
	cursor: pointer;
}

li a{
	text-decoration: none;
	color: black;
}

.container {
	/*padding-left: 20%;*/
	/*padding-right: 15%;*/
	margin-left: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: -18%;
	position: relative;
}

img {
	width: 250px;
	height: 250px;
	margin: 20px; 
}

img:hover {
	width: 265px;
	height: 265px;
}

.button {

	margin-left: 22.6%;
	color: black;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 20px;
}

.button:hover {
	font-weight: bold;
	color: black;
}

.butto {

	margin-left: 94.4%;
	color: black;
	text-decoration: none;
	padding-top: 5px;
	padding-bottom: 20px;
}

.butto:hover {
	font-weight: bold;
	color: black;

}

footer {
  text-align: center;
  padding: 2px;
  background-color: black;
  color: white;
  /*padding-top: 2%;*/
  padding: 2%;
}
